@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
    nav{
      ul{
        li{
          padding: 10px;
        }
      }
    }

    .btn-categorie{
      margin: 2em;
    }
}