{% extends 'base.html.twig' %}

{% block title %}Categorie list{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for categorie in categories %}
      <ul>
        <li><a class='card' href="{{path('show_categorie', {'id':categorie.id})}}">{{categorie}}</a></li>
      </ul>
    {% endfor %}
    {% if app.user %}
    <h2>Ajouter une categorie</h2>
    <form method="POST" action="{{ path('add_categorie') }}">
      <input type="text" min="1" max="50" name="nom"/>
      <button type="submit" name="submit" class="add-btn btn">ajouter</button>
    </form>
    {% endif %}

</div>
{% endblock %}
